html{
    margin-bottom: 200px;
}
.wrapper:hover {
        transform: scale(1.1, 1.1);
       
    }
.relative{
    position: relative;
}


body {
    background-color:#f9f8fb86;
}


.interest{
    font-family: 'Bebas Neue', cursive;
    margin-top: 100px;
    font-size: 80px;
    color: black;
    text-align: center;
}

.wrapper .box img{
    width: 200px;
    height: 200px;
    padding: 25px;
    text-align: center;
    
}

p{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin: -8px;
    color: rgb(55, 55, 55);

}
.wrapper {
    text-align: center;
    float: left;
    width: 300px;
    height: 326px;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    margin: 40px 50px 0 ;
    position: relative;
    left: 130px;
    top: 33px;
    box-shadow: 3px 6px 8px  darkgray;

    
    
}
div.wrapper.relative{
    margin-top: 100px;
}