body {
    background-color: #f9f8fb;
}

* {
    margin: 0;
    padding: 0;

}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.register {
    margin: 110px auto 0;
    padding: 15px 20px;
    color: #2b2e4a;
    font-size: 14px;
    font-family: 'Bebas Neue', cursive;

}

/* 회원가입 text */
.register h3 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;

}

.register input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 10px;
    border: 1px solid #707070;
    transition: 0.3s;
}

.register input:valid,
.register input:focus {
    border: 1px solid #2b2e4a;
}

.register .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register .flex {
    display: flex;
    flex-direction: column;
}

.register .flex .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 10px;
}

.register .flex .container .item:first-child {
    margin-right: -106px;
}

.register .flex .container .item .idcheck {
    height: 100%;
    margin-left: 10px;
    padding: 5px 15px;
    background: #2b2e4a;
    border: 1px solid #2b2e4a;
    color: white;
    font-size: 12px;
    transition: 0.3s;
}

.register .flex .container .item .idcheck:hover {
    background: white;
    color: #2b2e4a;
}

.register .flex .container .item select {
    height: 40px;
    padding: 10px;
    border: 1px solid #2b2e4a;
}

.register .button {
    width: 103%;
    height: 50px;
    color: white;
    border: none;
    border: 1px solid #2b2e4a;
    background: #2b2e4a;
    transition: 0.3s;
}

.register .flex .container:last-child {
    margin: 0;
}

.register .button:hover {
    width: 100%;
    height: 40px;
    border: none;
    border: 1px solid #2b2e4a;
    color: #2b2e4a;
    background: white;
}